
@import 'partials/variables';

@import 'partials/container';
@import 'partials/links';
@import 'partials/meta';
// @import 'partials/bootstrap';
@import 'partials/typography';

@import 'partials/headings';

@import 'partials/header';
@import 'partials/footer';

@import 'partials/home';

@import 'partials/blockquotes';
@import 'partials/images';

@import 'partials/gallery';
@import 'partials/entry';
@import 'partials/comments';

@import 'partials/stuff';


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}






/*
* ==========================================================================
* Loop Meta
* ==========================================================================
*/
.loop-meta {
  color: #333333;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  border-bottom: 1px solid $wh-md;
  display: none;
}
@media (max-width: 680px) {
  .loop-meta {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.loop-meta a {
  color: #333333;
}
.loop-meta a:hover,
.loop-meta a:focus {
  color: $bk-lt;
}
.loop-meta a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.loop-meta .loop-meta-title {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.loop-meta .loop-meta-description {
  margin: 10px 0 0 0;
}
/*
* ==========================================================================
* Content
* ==========================================================================
*/
@media (max-width: 680px) {
  .content {
    padding-bottom: 40px;
  }
}

/*
* ==========================================================================
* WP Alignments
* ==========================================================================
*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}