
/*
* ==========================================================================
* Accordion
* ==========================================================================
*/

.accordion {

  h3 {
    background: transparent;
    color: $bl-md;
    font-size: 1em;
    margin: 0;
    padding: 1rem 0;
    border-bottom: thin solid $wh-tr-3;
    cursor: pointer;
    font-family: $sans;
    transition: all .2s ease-in-out;

    &::before {
      content: '»';
      color: $or-md;
      margin-right: 0.8em;
    }
    &:hover {
      color: $bl-lt;
    }

  }
  & + p {
    margin-top: 1em !important;
  }

  .accordion-content {
    border: medium solid $wh-lt;
    border-bl: none;
    padding: 0 0 1em 0;
  }
  br {
    &:nth-of-type(1),
    &:last-of-type {
      display: none;
    }
  }
}