/*
* ==========================================================================
* Block quotes
* ==========================================================================
*/

blockquote {
  padding: 1em;
  width: 620px;
  margin: 1em auto 2em;
  font-style: italic;


  strong {
    font-weight: 700;
    border-top: medium solid #e6e6e6;
    display: block;
    padding-top: 0.8em;
  }

  p {
    width: 620px !important;
    margin: 0 auto 1em !important;
    display: block !important;
    position: relative !important;
    font-size: 1.2em;

    &:last-child {
      margin: 0 auto !important;
    }
  }
}