/*
* ==========================================================================
* Block quotes
* ==========================================================================
*/

blockquote {
  padding: 1em;
  margin: 1em auto 2em;
  font-style: italic;
  border-left: thick solid $or-md;
  padding: 1em;


  strong {
    font-weight: 700;
    border-top: thin solid $or-lt;
    display: block;
    padding-top: 0.8em;
  }

  > p {
    margin: 0 auto 1em;
    display: block;
    // position: relative;
    font-size: 1.2em;

    &:last-child {
      margin: 0 auto;
    }
    &:nth-child(1) {
      width: auto;
    }
  }
}