/*
* ==========================================================================
* Footer Tail Sidebars
* ==========================================================================
*/
.site-footer {
  font-size: 0.8em;
  text-align: center;
}
.footer-tail-sidebars {
  background-color: #213246;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid medium #213246;
}
.footer-tail-sidebars.widget-default .widget.widget-last,
.footer-tail-sidebars.widget-inverse .widget.widget-last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.footer-tail-sidebars .theme-info {
  // text-align: right;
  display: none;
}
@media (max-width: 680px) {
  .footer-tail-sidebars .theme-info {
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 680px) {
  .footer-tail-sidebars {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
