/*
* ==========================================================================
* Full-width Template
* ==========================================================================
*/

body.page-template-template-full-width {
  position: relative;

  .entry-title {
    display: none;
  }
  .content-sidebar-wrapper {
    padding-top: 5em;

    .container {
      width: 100vw !important;
      padding: 0;
      margin: 0 0 1em 0;
      position: relative;

      .entry-content {
        position: relative;
      }

      h2, p, ul {
        margin: auto;
        width: 620px;
      }
      h2 {
        margin-bottom: 1em;
      }
      ul {
        margin: 1em auto;
        padding: 0.5em 1.2em;
      }
      li {
        padding: 0 0 0.25em 1em;
      }

      h2 + p {

      }
      h2 + p > img {

      }
      p {
        margin-bottom: 1.25em;
        line-height: 1.5;

        &:nth-child(1) {
          width: 100vw;
          height: auto;
          left: 0;
          display: block;
          margin: 0 0 3sem 0;
          float: none;



        }


      }
      .size-full {
        width: 100vw !important;
        height: auto;
        object-fit: cover;
        position: relative;
        margin-bottom: 1em;
      }
      .row {
        margin: 0;
        padding: 0;

        .col-lg-12 {
          padding: 0;
        }
      }
      .row > div {

      }
    }
  }
  .accordion {
    width: 620px;
    margin: auto;
  }
  h1, h2, h3, h4, h5, p {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    width: 620px !important;
    margin-left: auto;
    margin-right: auto;

    * {

    }

    td, caption {
      padding: 0.3em;
    }
    thead {

      th {
        font-weight: 300;
        color: $bk-tr-3;
      }
    }
    tr {
       padding: 0;
    }
    th {
      padding: 0.3em;
    }

    caption {
      text-align: left;
      border-top: thick solid $bl-md;
      border-bottom: thin solid $bl-md;
    }
  }
}

/*
* ==========================================================================
* Full-width Template Header
* ==========================================================================
*/

body.page-template-template-full-width {
  header {
    position: fixed;
    // top: calc(100vh - 5em);
    height: 5em;



    .navbar {
      border-bottom: medium solid $bl-md;
      height: 5em;

      .navbar-header {
        height: 3em;
        margin: 1em 0;
      }
    }
  }
}
