/*
* ==========================================================================
* Header
* ==========================================================================
*/
header.site-header {
  position: fixed;
  width: 100vw;
  background: rgba(255,255,255,0.9);
  z-index: 10;
}
header.site-header nav.navbar {
  background: transparent;
  border-color: #265898;
  border-top: thick solid #265898;
  border-bottom: thin solid #265898;
}
.navbar-header {
  margin-top: 1.2em;
}
.navbar-inverse .navbar-nav > .active > a {
  background: rgba(255,255,255,0.5);
  color: #265898;
  box-shadow: inset 0 -1em #265898;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: rgba(255,255,255,0.5);
  box-shadow: inset 0 -1em #265898;
  color: #265898;
}
.navbar-inverse .navbar-brand {
  color: #265898;
  padding-left: 0;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #265898;
}
.navbar > .container .navbar-brand {
  margin-left: 0em;
}
.navbar-nav > li > a {
  color: #265898;
  padding: 2.4em 1em 1.6em;

}
.navbar-inverse .navbar-nav > li > a {
  color: #265898;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background: rgba(255,255,255,0.5);
  color: #1b385a;
  box-shadow: inset 0 -0.4em #265898;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse
.navbar-toggle:focus {
  background-color: #1b385a;
}
.navbar-inverse .navbar-toggle {
  border-color: #1b385a;
  background-color: #1b385a;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: solid 0 #265898;
  border-bottom: solid 0 #265898;
}

/*
* ==========================================================================
* Brand/project name
* ==========================================================================
*/
.navbar-brand {
  font-size: 2em;
}
.navbar-brand-image {
  float: left;
  padding: 0 15px;
}
@media (min-width: 680px) {
  .navbar > .container .navbar-brand-image {
    margin-left: -15px;
  }
}