/*
* ==========================================================================
* Header
* ==========================================================================
*/
header.site-header {
  position: fixed;
  width: 100vw;
  background: $wh-tr-9;
  z-index: 10;
}
.navbar {
  background: transparent;
  border-color: $bl-md;
  border-top: thick solid $bl-md;
  border-bottom: thin solid $bl-md;

  .container {
    width: 100vw;
  }
}

/*
* ==========================================================================
* Brand/project name
* ==========================================================================
*/
.navbar-header {
  margin: 1em 0;
  height: 5em;
}

.navbar-brand {
  font-size: 2em;
  display: none;
  color: $bl-md;
  padding-left: 0;
  margin-left: 0em;
  height: 1.5em;

  &:hover,
  &:focus {
    color: $bl-md;
  }
}

.navbar-brand-image {
  // float: left;
  padding: 0 ;
  height: inherit;

  img {
    width: auto;
    height: inherit;
  }
}


