/*
* ==========================================================================
* HOME
* ==========================================================================
*/

body.home {
  header {
    // display: none;
    position: relative;


  }
  .entry-title {
    display: none;
  }
  .content-sidebar-wrapper {
    padding-top: 0;
    padding-bottom: 1em;
    width: 100vw;

    .container {
      width: 100vw !important;
      padding: 0;
      margin: 0 0 1em 0;
      position: relative;

      .entry-content {
        position: relative;
      }

      h2, p, ul {
        margin: auto;
        width: 620px;
      }
      h2 {
        margin-bottom: 1em;
      }
      ul {
        margin: 1em auto;
        padding: 0.5em 1.2em;
      }
      li {
        padding: 0 0 0.25em 1em;
      }

      h2 + p {

      }
      h2 + p > img {

      }
      p {
        margin-bottom: 1.25em;
        line-height: 1.5;

        &:nth-of-type(1) {
          width: 100vw;
          height: auto;
          left: 0;
          display: block;
          margin: 0 0 3em 0;
          float: none;

        }


      }
      img.size-full {
        width: 100vw !important;
      }
      .row {
        margin: 0;
        padding: 0;

        .col-lg-12 {
          padding: 0;
        }
      }
      .row > div {

      }
    }
  }
  nav {
    // position: absolute;
    width: 100vw;
    min-height: 0;

    .navbar-header {
      margin: 0.5em 0 0 0;
      padding: 0;

      .navbar-brand-image {
        width: 10em;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .navbar-nav>li>a {
      padding: 1em;


    }
    .navbar-inverse .navbar-nav > .active > a {
      box-shadow: inset 0 -0.25em #265898 !important;
    }

  }
}