/*
* ==========================================================================
* HOME
* ==========================================================================
*/

body.home {
  position: relative;

  .entry-title {
    display: none;
  }
  .content-sidebar-wrapper {
    padding-top: 0;
    padding-bottom: 1em;
    width: 100vw;

    .container {
      width: 100vw;
      padding: 0;
      margin: 0 0 1em 0;
      position: relative;

      .entry-content {
        position: relative;
      }

      h2, h3, h4, h5, p, ul {
        margin: auto;
        // width: 100%;
      }
      h2, h3, h4, h5 {
        margin-bottom: 1em;
      }
      ul {
        margin: 1em auto;
        padding: 0.5em 1.2em;
      }
      li {
        padding: 0 0 0.25em 1em;
      }

      h2 + p {

      }
      h2 + p > img {

      }
      p {
        margin-bottom: 1.25em;
        line-height: 1.5;

        &:nth-child(1) {
          // width: 100vw;
          height: auto;
          left: 0;
          display: block;
          margin: 0 0 3sem 0;
          float: none;



        }


      }
      .size-full {
        width: 100vw !important;
        height: calc(100vh - 5em);
        object-fit: cover;
        position: relative;
        margin-bottom: 10em;
      }
      .row {
        margin: 0;
        padding: 0;

        .col-lg-12 {
          padding: 0;
        }
      }
      .row > div {

      }
    }
  }
}

/*
* ==========================================================================
* Home Header
* ==========================================================================
*/

body.home {
  header {
    position: absolute;
    top: calc(100vh - 5em);
    height: 5em;

    &.site-header {

      &::before {
        content: 'The Ironing Board';
        width: 100%;
        display: block;
        color: $wh-lt;
        font-size: 3em;
        line-height: 1;
        position: absolute;
        top: -75vh;
        z-index: 100;
        text-align: center;
        // padding: 2em;
        font-family: $serif;
        font-weight: 300;
        text-shadow: 0 0 3em $bk-tr-5;
      }
    }

    .navbar {
      border-bottom: medium solid $bl-md;

      .navbar-header {
        height: 3em;
        margin: 1em 0;
      }
    }
  }
}

