/*
* ==========================================================================
* Links
* ==========================================================================
*/
a {
  color: $or-md;
  transition: all .2s ease-in-out;
}
a:hover,
a:focus {
  color: $or-dk;
  text-decoration: none;
}
