/*
* ==========================================================================
* Navigation
* ==========================================================================
*/

.navbar-inverse {
  position: relative;

  .navbar-nav {
    position: absolute;
    right: 2em;
    bottom: 0;

    > .active > a {
      background: $wh-lt;
      color: $bl-md;
      box-shadow: inset 0 -0.6em $bl-md;

      &:hover,
      &:focus {
        background: $wh-lt;
        box-shadow: inset 0 -1em $bl-md ;
        color: $bl-md !important;
      }
    }
    > li > a {
      color: $bl-md;
      padding: 2em 1em 1.6em;
      background: $wh-lt;

      &:hover,
      &:focus {
        // background: transparent;
        box-shadow: inset 0 -0.4em $bl-md ;
        color: $bl-md !important;
      }
    }
  }
}







/*
* ==========================================================================
* Mobile Navigation
* ==========================================================================
*/
.navbar-inverse {

  .navbar-toggle {
    border-color: $bl-dk;
    background-color: $bl-dk;
    width: 5rem;
    height: 5rem;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $bl-dk;
    }

    .icon-bar {
      width: 100%;
      height: 0.3rem;
      margin-top: 0.5rem;
      border-radius: 0;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-top: solid 0 $bl-md;
    border-bottom: solid 0 $bl-md;
  }

  .navbar-brand-image {
    display: block;
  }
  .navbar-collapse {

  }
}

