/*
* ==========================================================================
* Navigation
* ==========================================================================
*/

.navbar-inverse {
  position: relative;

  .navbar-nav {
    // position: absolute;
    right: 2em;
    top: 5em;
    background-color: $wh-lt;
    height: 80px;

    @include mobile {
      background-color: $bl-md;
      height: auto;
    }
    @include tablet {

    }

    > .active > a {
      background-color: transparent;
      color: $bl-md;
      box-shadow: inset 0 -0.6em $bl-md;

      @include mobile {
        box-shadow: 0;
        color: $wh-lt;
      }
      @include tablet {

      }

      &::before {
        @include tablet {
          content: '»';
          margin-right: 0.5em;
        }
        @include mobile {
          content: '»';
          margin-right: 0.5em;
        }
      }

      &:hover,
      &:focus {
        background-color: transparent;
        box-shadow: inset 0 -1em $bl-md ;
        color: $bl-md !important;
      }
    }
    > li > a {
      color: $bl-md;
      padding: 2em 1em 1.6em;
      background: transparent;
      height: 80px;

      @include mobile {
        padding: 1em;
        background: $bl-md;
        color: $wh-lt;
        height: auto;
      }
      @include tablet {
        // padding: 1em;
        // background: $bl-md;
        // color: $wh-lt;
      }

      &:hover,
      &:focus {
        // background: transparent;
        box-shadow: inset 0 -0.4em $bl-md ;
        color: $bl-md !important;
      }
    }
  }
}


.navbar {




  .navbar-header-collapse {

  }
  .navbar-header {
    height: 3em;
    margin: 1em 0;
    background: $wh-lt;

    .navbar-brand-image {
      display: block;

      img {
        @include mobile {
          margin: 0;
        }
        @include tablet {

        }
      }
    }
  }
}




/*
* ==========================================================================
* Mobile Navigation
* ==========================================================================
*/
.navbar {
  background-color: $wh-lt;

  .navbar-toggle {
    border-color: $bl-dk;
    background-color: $bl-dk;
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $bl-dk;
    }

    &.collapsed {

      .icon-bar {
        &:nth-child(2) {
          transform: translateY(0em);
        }
        &:nth-child(3) {

        }
        &:nth-child(4) {
          transform: translateY(0em);
        }
      }
    }

    .icon-bar {
      width: 100%;
      height: 0.3rem;
      margin-top: 0.5rem;
      border-radius: 0;
      transition: all .2s ease-in-out;

      &:nth-child(2) {
        margin-top: 0.4rem;
        transform: translateY(0.5em);
      }
      &:nth-child(3) {
        display: block;
      }
      &:nth-child(4) {
        transform: translateY(-0.5em);
      }
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-top: solid 0 $bl-md;
    border-bottom: solid 0 $bl-md;
    max-height: 100vh;

    @include mobile {
      background: $bl-md;
      color: $wh-lt;
    }
  }
  .navbar-collapse {
    &.in {
      overflow-y: auto;
    }
  }
}

