/*
* ==========================================================================
* Navigation
* ==========================================================================
*/

.navbar-inverse {
  position: relative;

  .navbar-nav {
    position: absolute;
    right: 2em;
    top: 5em;
    background: $wh-lt;

    > .active > a {
      background: transparent;
      color: $bl-md;
      box-shadow: inset 0 -0.6em $bl-md;

      &:hover,
      &:focus {
        background: transparent;
        box-shadow: inset 0 -1em $bl-md ;
        color: $bl-md !important;
      }
    }
    > li > a {
      color: $bl-md;
      padding: 2em 1em 1.6em;
      background: transparent;

      &:hover,
      &:focus {
        // background: transparent;
        box-shadow: inset 0 -0.4em $bl-md ;
        color: $bl-md !important;
      }
    }
  }
}


.navbar {




  .navbar-header-collapse {

  }
  .navbar-header {
    height: 3em;
    margin: 1em 0;
    background: $wh-lt;


    @include mobile {

    }
    @include tablet {

    }
    .navbar-brand-image {
      display: block;

      @include mobile {

      }
      @include tablet {

      }
      img {
        @include mobile {
          margin: 0;
        }
        @include tablet {

        }
      }
    }
  }
}




/*
* ==========================================================================
* Mobile Navigation
* ==========================================================================
*/
.navbar {
  background-color: $wh-lt;

  .navbar-toggle {
    border-color: $bl-dk;
    background-color: $bl-dk;
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $bl-dk;
    }

    .icon-bar {
      width: 100%;
      height: 0.3rem;
      margin-top: 0.5rem;
      border-radius: 0;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-top: solid 0 $bl-md;
    border-bottom: solid 0 $bl-md;
  }


  .navbar-collapse {

  }
}

