/*
* ==========================================================================
* STUFF I DON'T KNOW WHAT TO DO WITH
* ==========================================================================
*/



/*
* ==========================================================================
* Template Full Width Widgetized Wrapper
* ==========================================================================
*/
.template-full-width-widgetized-wrapper {
  position: relative;
}
.template-full-width-widgetized-wrapper:before,
.template-full-width-widgetized-wrapper:after {
  content: " ";
  display: table;
}
.template-full-width-widgetized-wrapper:after {
  clear: both;
}






/*
* ==========================================================================
* WP Sticky Post
* ==========================================================================
*/
.sticky {
  /** Fors Sticky Posts */

}





/*
* ==========================================================================
* WP Image Smiley
* ==========================================================================
*/
.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}





/*
* ==========================================================================
* Widget
* ==========================================================================
*/
.widget {
  width: 100%;
  color: #333333;
  word-wrap: break-word;
  overflow: hidden;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: solid 1px #cccccc;
}
.widget a {
  color: #333333;
}
.widget a:hover,
.widget a:focus {
  color: #595959;
}
.widget a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.widget .widget-title {
  color: #333333;
  font-family: $serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 25px;
}
.widget .widget-title span {
  display: block;
}
.widget .widget-inside > ul,
.widget .widget-inside > ol {
  padding-left: 20px;
  margin-bottom: 0;
}
.widget .widget-inside > ul ul,
.widget .widget-inside > ol ul {
  padding-left: 20px;
}
.widget img {
  display: block;
  max-width: 100%;
  height: auto;
}
.widget.widget-last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.widget:before,
.widget:after {
  content: " ";
  display: table;
}
.widget:after {
  clear: both;
}
/*
* ==========================================================================
* Widget Inverse
* ==========================================================================
*/
.widget-inverse .widget {
  color: #eeeeee;
  border-bottom: solid 1px #b51622;
}
.widget-inverse .widget a {
  color: #eeeeee;
}
.widget-inverse .widget a:hover,
.widget-inverse .widget a:focus {
  color: #ffffff;
}
.widget-inverse .widget a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.widget-inverse .widget .widget-title {
  color: #ffffff;
}
.widget-inverse .widget.widget-last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
/*
* ==========================================================================
* Widget Default
* ==========================================================================
*/
.widget-default .widget .btn-primary {
  color: #333333;
}
.widget-default .widget .btn-primary:hover,
.widget-default .widget .btn-primary:focus {
  color: #595959;
}
.widget-default .widget.widget-last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
/*
* ==========================================================================
* Widgetized Wrapper Widget
* ==========================================================================
*/
.footer-tail-sidebars .widget {
  border: none;
  padding: 0;
  margin: 0;
}
/*
* ==========================================================================
* Search Form Widget
* ==========================================================================
*/
.widget .searchform .form-group {
  width: 70%;
}
@media (max-width: 1199px) {
  .widget .searchform .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
}
/*
* ==========================================================================
* Responsive Tags
* ==========================================================================
*/
embed,
iframe,
object,
video,
audio {
  width: 100% !important;
}
/*
* ==========================================================================
* Text Alignment utilities
* ==========================================================================
*/
@media (max-width: 680px) {
  .media-center-xs,
  .text-left,
  .text-right,
  .text-center {
    text-align: left;
  }
  .media-center-xs ul,
  .text-left ul,
  .text-right ul,
  .text-center ul,
  .media-center-xs ol,
  .text-left ol,
  .text-right ol,
  .text-center ol {
    list-style: none;
  }
  .media-center-xs img,
  .text-left img,
  .text-right img,
  .text-center img {
    // margin: 1em auto;
  }
}



