
/*
* ==========================================================================
* Tables
* ==========================================================================
*/

.table-responsive {
  thead {
    tr {
      th {
        border: none !important;
        color: $bk-tr-4 !important;
      }
    }
  }
  tbody {
    padding-bottom: 1em !important;
    border-bottom: thin solid $bk-tr-4;

    tr {
      td {
        &:empty {
          border-top: 0 !important;
          padding-top: 0;
          padding-bottom: 1em;
          margin: 0;
          // line-height: 0.9;

          & + td {
            border-top: 0 !important;
            padding-top: 0;
            padding-bottom: 1em;
            margin: 0;
            // line-height: 0.9;
          }
        }

      }
    }
    small {
      display: block;
    }
  }
}